# Feature scaling
Feature scaling is a specific type of data transformation that focuses on adjusting the scale or range of the individual features (variables) within your dataset. The goal of feature scaling is to ensure that all features have similar scales, which can help improve the performance of many machine learning algorithms.

Some common methods for feature scaling:

**Min-Max Scaling (Normalization)**
Scale features to a specific range, usually between 0 and 1.
Formula: X_normalized = (X - X_min) / (X_max - X_min)
Use MinMaxScaler from scikit-learn or implement it manually.

**Standardization**
Scale features to have a mean of 0 and a standard deviation of 1.
Formula: X_standardized = (X - X_mean) / X_std_dev
Use StandardScaler from scikit-learn or implement it manually.

## Min-Max Scaling (Normalization)

In [1]:
import pandas as pd

data = {
    'Feature1' : [10,20,30,40,50],
    'Feature2' : [1,2,3,4,5],
    'Feature3' : [1.5,2.3,3.8,4.9,5.1]
}

df = pd.DataFrame(data)

In [2]:
df

   Feature1  Feature2  Feature3
0        10         1       1.5
1        20         2       2.3
2        30         3       3.8
3        40         4       4.9
4        50         5       5.1

In [3]:
from sklearn.preprocessing import MinMaxScaler

In [5]:
# Initialize the scaler

scaler = MinMaxScaler()

# Scaling calclulation
scaler.fit_transform(df) # return array structure

array([[0.        , 0.        , 0.        ],
       [0.25      , 0.25      , 0.22222222],
       [0.5       , 0.5       , 0.63888889],
       [0.75      , 0.75      , 0.94444444],
       [1.        , 1.        , 1.        ]])

In [6]:
# Convert array to datafram
df.columns

Index(['Feature1', 'Feature2', 'Feature3'], dtype='object')

In [7]:
scaled_array = scaler.fit_transform(df)
scaled_df = pd.DataFrame(scaled_array,columns=df.columns)

In [9]:
df = scaled_df

In [10]:
df

   Feature1  Feature2  Feature3
0      0.00      0.00  0.000000
1      0.25      0.25  0.222222
2      0.50      0.50  0.638889
3      0.75      0.75  0.944444
4      1.00      1.00  1.000000

## Standardization

In [11]:
import pandas as pd

data = {
    'Feature1' : [10,20,30,40,50],
    'Feature2' : [1,2,3,4,5],
    'Feature3' : [1.5,2.3,3.8,4.9,5.1]
}

df = pd.DataFrame(data)

In [12]:
df

   Feature1  Feature2  Feature3
0        10         1       1.5
1        20         2       2.3
2        30         3       3.8
3        40         4       4.9
4        50         5       5.1

In [16]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

In [17]:
standardized_df = pd.DataFrame(scaler.fit_transform(df),columns=df.columns)

In [18]:
standardized_df

   Feature1  Feature2  Feature3
0 -1.414214 -1.414214 -1.424940
1 -0.707107 -0.707107 -0.860607
2  0.000000  0.000000  0.197516
3  0.707107  0.707107  0.973474
4  1.414214  1.414214  1.114557

Tips!

**Standardization:** Standardization is a safe and commonly used method for scaling features. It's a good choice when you have no prior knowledge about the data distribution or when you're working with algorithms that assume features are normally distributed or have similar scales. Many classification algorithms, such as logistic regression, k-nearest neighbors, and support vector machines, benefit from standardized features.

**Min-Max Scaling (Normalization):** Min-Max scaling can be useful when you have prior knowledge that your features should fall within a specific range (e.g., [0, 1]). It's also suitable for algorithms like artificial neural networks (deep learning) with activation functions that work well with inputs in a limited range.