# Python Introduction

## Python comment

In [1]:
# single line comment

## Python Variable

In [2]:
age = 35
name = "Jon Doe"
is_student = True
cgpa = 3.50

## Python Data types

In [3]:
# Integer type
num = 10
print(type(num))

<class 'int'>

In [4]:
# Float Type
pi = 3.1416
print(type(pi))

<class 'float'>

In [5]:
# String type
str = "ML"
print(type(str))

<class 'str'>

In [6]:
# Boolean type
is_true = False
print(type(is_true))

<class 'bool'>

## Python Casting

In [7]:
# Specify a varaible type
x = int(1)
y = int(2.5)
z = int("5")

In [8]:
print(x)
print(y)
print(z)

1
2
5

## Python Input/Output

In [9]:
# Taking user input
name = input("Enter Your Name")
print(name)

Enter Your Namek
k

In [10]:
# Taking multiple inputs in a single line
x,y = input("Enter two number : ").split()
print(x,y)

Enter two number : l

ValueError: not enough values to unpack (expected 2, got 1)

## Python Strings

In [ ]:
# Single quoted string
single = 'ML'
# Double quoted string
double = "ML"

print(single,double)

In [ ]:
# String concatanation
str1 = "ML"
str2 = "CSE"
# Default space added (shift + tab to any function details)
print(str1,'',str2)

In [ ]:
print(str1,'',str2)

In [ ]:
print(str1,'',str2,sep='/')
print(str1,'',str2,sep='')
print(str1,'',str2,sep='-',end='!')

In [ ]:
str1 = "Hello Boss"
print(str1[0])

In [ ]:
# String slicing
course_name = "Machine Learning"
print(course_name[0:5])
print(course_name[1:6])

In [ ]:
course_name.upper()

In [ ]:
course_name.lower()

In [ ]:
course_name.find("L")

In [ ]:
# remove space
test = "           hadfhja         "
test.strip()

## Python Lists

In [ ]:
# Create Lists
numbers = [1,2,3,4,5]
names = ["Alice",'Bob','abc']
mixed = [1,2.2,'abc']

print(numbers)
print(names)
print(mixed)

In [ ]:
print(type(mixed))

In [ ]:
numbers.extend([7,8])
print(numbers)

In [ ]:
numbers.sort()
numbers

In [3]:
# slicing
num = [1,2,3,4,5,6]
print(num[0:4])
print(num[:3])
print(num[::3])

[1, 2, 3, 4]
[1, 2, 3]
[1, 4]

In [6]:
num.remove(5)

ValueError: list.remove(x): x not in list

In [7]:
print(num)

[1, 2, 3, 4, 6]

In [8]:
num.pop()

6

In [9]:
num.reverse()

In [10]:
print(num)

[4, 3, 2, 1]

## For Loop

In [11]:
# range function
range(0,3)

range(0, 3)

In [12]:
 for i in range(0,5):
        print(i)

0
1
2
3
4

In [13]:
# Looping with list
fruits = ['apple','banana','cherry']
for i in fruits:
    print(i)

apple
banana
cherry

In [14]:
# using enumerate with for loop
lists = [1,2,3,4,5,6]
for index,name in enumerate(lists):
    print(f"Number : {name}, Index : {index}" )

Number : 1, Index : 0
Number : 2, Index : 1
Number : 3, Index : 2
Number : 4, Index : 3
Number : 5, Index : 4
Number : 6, Index : 5

In [16]:
for i in range(len(lists)):
    print(lists[i])

1
2
3
4
5
6

In [17]:
# BMI calculation
heights = [1.75,1.68,1.80,1.60]
weights = [68,71,85,59]
bmi_result = []

for i in range(len(heights)):
    bmi = round(weights[i]/heights[i]**2,2) # 2 floting point
    bmi_result.append(bmi)
print(bmi_result)

[22.2, 25.16, 26.23, 23.05]

## Python Tuple
* Ordered
* Unchangeable
* Allow Duplicates
* Data Type 'tuple'

In [19]:
empty_tup = ()
print(empty_tup)

()

In [21]:
# Accessing tuple items
my_tuple = (1,2,3,4,True,'Hi')
print(my_tuple)
print(my_tuple[0])

(1, 2, 3, 4, True, 'Hi')
1

In [22]:
# Unpacking tuple
num_tup = (1,2,3)
a,b,c = num_tup
print(a,b,c)

1 2 3

In [23]:
# Duplicates
tup1 = (1,1,2,2,3)
tup1

(1, 1, 2, 2, 3)

In [24]:
# Immutable nature of tuples
num = (1,2,3)
# Trying to change on items
num[0] = 10

TypeError: 'tuple' object does not support item assignment

In [25]:
# Trying to add an element
num.append(0)

AttributeError: 'tuple' object has no attribute 'append'

## Python Set
* Unordered
* Unchangebale
* Do not allow duplicates

In [26]:
set1 = {1,2,3}
print(set1)
print(type(set1))

{1, 2, 3}
<class 'set'>

In [29]:
my_set = {10,10,2,True,3.14,False,'apple'}
for item in my_set:
    print(item)

False
True
2
3.14
10
apple

In [30]:
# unchangable
my_set[0] = 20

TypeError: 'set' object does not support item assignment

## Python Dictionary
* key : value pair
* ordered
* Changable
* Do not allow Duplicates

In [31]:
car = {
    'brand' : 'BMW',
    'model' : 'M3',
    'Year' : 1888
}

print(car)

{'brand': 'BMW', 'model': 'M3', 'Year': 1888}

In [32]:
print(car['brand'])

BMW

In [33]:
# List values with dict
students = {
    'name' : ['jon snow',"Ihsanul Haque","Mark"],
    'cgpa' : [1,3,4,5]
}

students

{'name': ['jon snow', 'Ihsanul Haque', 'Mark'], 'cgpa': [1, 3, 4, 5]}

In [35]:
for name in students['name']:
    print(name)

jon snow
Ihsanul Haque
Mark

In [36]:
students['name'][0]

'jon snow'

In [38]:
students['major'] = ['Politics','MAL']

In [39]:
students

{'name': ['jon snow', 'Ihsanul Haque', 'Mark'],
 'cgpa': [1, 3, 4, 5],
 'major': ['Politics', 'MAL']}

In [41]:
del students['cgpa']

KeyError: 'cgpa'

In [42]:
students

{'name': ['jon snow', 'Ihsanul Haque', 'Mark'], 'major': ['Politics', 'MAL']}

In [43]:
# Dictionary methods
key = students.keys()
value = students.values()
items = students.items()

In [44]:
print(key)

dict_keys(['name', 'major'])

In [45]:
print(value)

dict_values([['jon snow', 'Ihsanul Haque', 'Mark'], ['Politics', 'MAL']])

In [46]:
print(items)

dict_items([('name', ['jon snow', 'Ihsanul Haque', 'Mark']), ('major', ['Politics', 'MAL'])])

## Varaible Scope

In [ ]:
# Global Var
globap_var = 10