# Python Introduction

## Python comment

In [1]:
# single line comment

## Python Variable

In [2]:
age = 35
name = "Jon Doe"
is_student = True
cgpa = 3.50

## Python Data types

In [3]:
# Integer type
num = 10
print(type(num))

<class 'int'>

In [4]:
# Float Type
pi = 3.1416
print(type(pi))

<class 'float'>

In [5]:
# String type
str = "ML"
print(type(str))

<class 'str'>

In [6]:
# Boolean type
is_true = False
print(type(is_true))

<class 'bool'>

## Python Casting

In [7]:
# Specify a varaible type
x = int(1)
y = int(2.5)
z = int("5")

In [8]:
print(x)
print(y)
print(z)

1
2
5

## Python Input/Output

In [9]:
# Taking user input
name = input("Enter Your Name")
print(name)

Enter Your Namek
k

In [10]:
# Taking multiple inputs in a single line
x,y = input("Enter two number : ").split()
print(x,y)

Enter two number : l

ValueError: not enough values to unpack (expected 2, got 1)

## Python Strings

In [ ]:
# Single quoted string
single = 'ML'
# Double quoted string
double = "ML"

print(single,double)

In [ ]:
# String concatanation
str1 = "ML"
str2 = "CSE"
# Default space added (shift + tab to any function details)
print(str1,'',str2)

In [ ]:
print(str1,'',str2)

In [ ]:
print(str1,'',str2,sep='/')
print(str1,'',str2,sep='')
print(str1,'',str2,sep='-',end='!')

In [ ]:
str1 = "Hello Boss"
print(str1[0])

In [ ]:
# String slicing
course_name = "Machine Learning"
print(course_name[0:5])
print(course_name[1:6])

In [ ]:
course_name.upper()

In [ ]:
course_name.lower()

In [ ]:
course_name.find("L")

In [ ]:
# remove space
test = "           hadfhja         "
test.strip()

## Python Lists

In [ ]:
# Create Lists
numbers = [1,2,3,4,5]
names = ["Alice",'Bob','abc']
mixed = [1,2.2,'abc']

print(numbers)
print(names)
print(mixed)

In [ ]:
print(type(mixed))

In [ ]:
numbers.extend([7,8])
print(numbers)

In [ ]:
numbers.sort()
numbers

In [1]:
# slicing
num = [1,2,3,4,5,6]
print(num[0:4])
print(num[:3])
print(num[::1])

[1, 2, 3, 4]
[1, 2, 3]
[1, 3, 5]